# dependencies
/node_modules

# testing
/coverage

# production
/dist
/.cache
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

# Firebase cache
.firebase/

# Next.js
.next
